html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1056px;
  margin-right: auto;
  margin-left: auto;
}

.main-wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

/* Header */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 56px;
  align-items: center;
}

.site-navigation li {
  width: 20%;
  text-align: center;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 20%;
}

.logo {
  position: relative;
  margin-top: -58px;
  z-index: 100;
}

.site-navigation a {
  color: #000;
}

.site-navigation a[href]:hover, .site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation .active {
  color: #766357;
}

.site-navigation a[href]:active {
  opacity: 0.3;
}

.greeting {
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center bottom -3px, center top -83px;
  width: 1200px;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #86b7d4;
}

.greeting-img {
  display: block;
}

/* Main */

.information {
  background-color: #ffffff;
  padding-top: 60px;
}

.information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-description {
  max-width: 440px;
  display: block;
  margin-bottom: 38px;
  text-align: center;
  font-size: 21px;
}

/* Причины */

.reasons {
  max-width: 490px;
  margin-bottom: 56px;
  font-weight: 400;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-item {
  display: flex;
  width: 100%;
}

.reasons-number {
  display: block;
  margin: 24px 0;
}

.reasons-item-color {
  background-color: #81b3d2;
  height: 256px;
}

.reasons-item-reverse {
  flex-direction: row-reverse;
}

.reasons-item-block {
  display: block;
  max-width: 400px;
  width: 33.3333%;
  background-color: #eeeeee;
  text-align: center;
}

.reasons-item-block:nth-of-type(4) {
  padding-top: 50px;
  padding-right: 97px;
  padding-bottom: 63px;
  padding-left: 95px;
}

.reasons-item-block:nth-of-type(5) {
  padding-top: 50px;
  padding-right: 69px;
  padding-bottom: 64px;
  padding-left: 69px;
}

.reasons-item-block:nth-of-type(6) {
  padding-top: 50px;
  padding-right: 77px;
  padding-bottom: 64px;
  padding-left: 77px;
}

.reasons-block {
  display: block;
  width: auto;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  padding-top: 49px;
  padding-right: 49px;
  padding-bottom: 65px;
  padding-left: 48px;
}

.reasons-title {
  width: 160px;
  margin: 0 auto;
}

.reasons-item:nth-child(1) .reasons-block {
  padding-top: 46px;
  padding-right: 60px;
  padding-bottom: 64px;
  padding-left: 60px;
}

.reasons-img {
  display: block;
  width: 800px;
}

/* Преимущества */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: block;
  max-width: 400px;
  width: 33.3333%;
  text-align: center;
  background-repeat: no-repeat;
  padding-top: 160px;
  padding-bottom: 86px;
}

/* Домик */

.advantages-item-house {
background-image: url("../img/icon-1.svg");
background-position: center top 60px;
padding-right: 75px;
padding-left: 73px;
}

/* Еда */

.advantages-item-food {
background-image: url("../img/icon-2.svg");
background-position: center top 61px;
padding-right: 58px;
padding-left: 58px;
}

/* Сувениры */

.advantages-item-souvenirs {
 background-image: url("../img/icon-3.svg");
 background-position: center top 56px;
 padding-right: 63px;
padding-left: 64px;
}
.advantages-title {
  font-size: 21px;
}

/* Заинтересовались */

.intrest {
  text-align: center;
}
.intrest b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: bolder;
  margin-top: 55px;
}
.intrest p {
  margin-top: 24px;
  margin-bottom: 47px;
}

.button-search-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  border: none;
}




/* Footer */

.main-footer {
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
}

.main-footer-index {
  position: relative;
}

.map img {
  display: block;
  width: 100%;
}

.footer-content {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 120px;
}

.main-footer-index .footer-content {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-content .container {
  display: flex;
}

.footer-column {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list li:not(:nth-child(3n)) {
  margin-right: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-bottom: 8px;
}

.social-button::before {
  content: ' ';
  display: block;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-button-tw::before {
  background-image: url("../img/twitter.svg");
  width: 17px;
  height: 15px;
}

.social-button-fb::before {
  background-image: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social-button-ytb::before {
  background-image: url("../img/youtube.svg");
  width: 20px;
  height: 16px;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.logo-htmlacademy:hover path,
.logo-htmlacademy:focus path {
  fill: #81b3d2;
}

.logo-htmlacademy:active path {
  fill: #bdbbbc;
}

.footer-copyright {
  margin-right: 6px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.phone-sedona {
  color: #000;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

}







/* Переделать окно */

.modal {
    position: fixed;
    top: 1396px;
    left: 50%;
    color: #000000;
    background-color: #ffffff;
    width: 568px;
    height: 395px;
    padding: 55px;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

}

.booking input[type="text"] {
    font: inherit;
    color: #000000;
    text-transform: inherit;
    background-color: #f2f2f2;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding-top: 14px;
    padding-left: 13px;
}

.icon-calendar {
    position: absolute;
    right: 9px;
    top: 8px;
    background-image: url("calendar.svg");
    width: 21px;
    height: 22px;
    background-color: #a9a9a9;
}

.modal-search {
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
}


/*inner.html*/

.inner-page {}

/* Найдено */



.sorting .container{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 35px;
}

.sorting-found {
  display: flex;
  margin-right: 49px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sotring-sorting {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

}

.sorting-list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-item {
  display: flex;

}

.sorting-item-price {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #81b3d2;

}

.sorting-item-type {
  margin-left: 33px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-item-rating {
  margin-left: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}
.sorting-item-down path {
  margin-left: 20px;
  fill: #81b3d2;
}

.sorting-item-up {
  margin-left: 470px;
  opacity: 0.3;
}

.sorting-item-up:hover path,
.sorting-item-up:focus path,
.sorting-item-down:hover path,
.sorting-item-down:focus path {
  fill: #231f20;
}

.sorting-item-up:active path,
.sorting-item-down:active path {
  fill: #81b3d2;
}

.sorting-item-type a:hover path,
.sorting-item-type a:focus path,
.sorting-item-rating a:hover path,
.sorting-item-rating a:focus path {
  color: #81b3d2;
}

.sorting-item-type a:active path,
.sorting-item-rating a:active path {
  color: #000000;
}

.sorting-item-price a:active path {
  color: #81b3d2;
}

/* Список отелей */
.hotels {
  display: flex;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0,1,1,0.2);
  padding: 30px 73px;

}

.hotel-img {
  display: flex;
  max-width: 140px;
  margin-right: 30px;

}

.hotel-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 140px;

}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  width: 270px;

}

.hotel-type {
  margin-right: 6px;
}


.hotel-link {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.hotel-link a:hover,
.hotel-link a:focus {
  color: #81b3d2;
}

.hotel-link a:active {
  opacity: 0.3;
}

.hotel-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-info a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  padding: 8px 16px;
}

.button-blue {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}

.button-brown {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;

}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;

}

.hotel-info a:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.hotel-rating::before {
  content: ' ';
  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-repeat: space;
  height: 17px;
  background-size: 17px;
  margin-bottom: 46px;

}

.hotel-rating .star-four::before {
  width: 83px;
}

.hotel-rating .star-three::before {
  width: 61px;
}

.hotel-rating .star-two::before {
  width: 30px;
}

.rating {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 110px;
  height: 16px;
  background-color: #f2f2f2;
  padding: 5px 15px;
}



/*

background-repeat: no-repeat;
background-position: center bottom -3px,
width: 1200px;
height: 510px;
display: flex;
justify-content: center;
align-items: center;
background-color: #86b7d4;*/
*/
